<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <title>user table</title>
    <meta charset="UTF-8">
    <link rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h1>ADMINISTRATOR PAGE</h1>

<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">names</th>
        <th scope="col">countries</th>
        <th scope="col">passwords</th>
    </tr>
    </thead>


    <tbody>
    <tr th:each="user:${users}">
        <td th:text="${user.name}"/>
        <td th:text="${user.countryOfBirth}"/>
        <td th:text="${user.password}"/>


        <td>
            <form th:method="UPDATE" th:action="@{admin/delete_user/(id=${user.getId()})}">
                <input type = "submit"  value="Delete"/>
            </form>
        </td>
        <td>
            <form th:method="UPDATE" th:action="@{admin/update_user/(id=${user.getId()})}">
            <input type = "submit" value="Update"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<a href="/admin/new">Add new user</a>


    <form th:method= "GET" th:action="@{/user}">
        <input type = "submit"  value="View details about user"/>
    </form>


<form th:method="POST" th:action="@{/logout}">
    <input type = "submit"  value="logout"/>
</form>

</body>
</html>

